<!--
  Generated template for the InformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Acerca de mi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="dark" padding>
  <ion-list *ngIf="user && isEditing==false">
    <ion-item class="username">
       {{user.nombre}}
    </ion-item>
    <ion-item class="content-item">
    
        <div class="content-item">
            Edad: {{user.edad}}
            <ion-icon name="md-create" (click)="EmpezarEdicion()">
  
              </ion-icon>
        </div>
  
   
          
     
     
    </ion-item>
    <ion-item class="content-item">

        <div class="content-item">
            Experiencia: {{user.exp}}
            <ion-icon name="md-create" (click)="EmpezarEdicion()">
  
              </ion-icon>
        </div>
       
      
    
    </ion-item>
    <ion-item class="content-item">

      <div class="content-item">
          Sexo: {{user.sexo=='H'?'Hombre': 'Mujer'}}
          <ion-icon name="md-create" (click)="EmpezarEdicion()">

            </ion-icon>
      </div>

   
     
    </ion-item>
  </ion-list>

  <ion-list *ngIf="user && isEditing==true">
      <ion-item class="username">
          <ion-label floating>Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" type="text"></ion-input>  
      </ion-item>
      <ion-item class="content-item">
      
          <ion-label>Edad</ion-label>
          <ion-select [(ngModel)]="edad">
            <ion-option value="19">19</ion-option>
            <ion-option value="20">20</ion-option>
            <ion-option value="21">21</ion-option>
            <ion-option value="22">22</ion-option>
            <ion-option value="23">23</ion-option>
            <ion-option value="24">24</ion-option>
          </ion-select>
            
       
       
      </ion-item>
      <ion-item class="content-item">
  
          <ion-label>Nivel de experiencia</ion-label>
          <ion-select [(ngModel)]="exp">
            <ion-option value="Principiante">Principiante</ion-option>
            <ion-option value="Promedio">Promedio</ion-option>
            <ion-option value="Experto">Experto</ion-option>
            <ion-option value="Extremo">Extremo</ion-option>
    
          </ion-select>
        
      
      </ion-item>
      <ion-item class="content-item">
  
        
              <ion-label>Sexo</ion-label>
              <ion-select [(ngModel)]="sexo">
                <ion-option value="H">Hombre</ion-option>
                <ion-option value="M">Mujer</ion-option>
                 </ion-select>
                
      </ion-item>
    </ion-list>

    <ion-row *ngIf="user && isEditing==true">
      <ion-col class="flex-center">
        <button ion-button color="primary" (click)="GuardarValores()"> Guardar</button>
      </ion-col>
    </ion-row>

</ion-content>